{% extends "node.html.twig" %}

{% block content %}
    <div class="row">
        <div class="large-12 large-centered columns">
        {#	{{ title_prefix }}
                <h1>{{ node.title.value }}</h1>
            {{ title_suffix }}#}

            {{ content }}

          </div>
      </div>
		
{% endblock %}
