button, .button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem 2rem;
  font-size: 1rem;
  background-color: #008CBA;
  border-color: #007095;
  color: #FFFFFF;
  transition: background-color 300ms ease-out;
}

button {
  &:hover, &:focus {
    background-color: #007095;
  }
}

.button {
  &:hover, &:focus {
    background-color: #007095;
  }
}

button {
  &:hover, &:focus {
    color: #FFFFFF;
  }
}

.button {
  &:hover, &:focus {
    color: #FFFFFF;
  }
}

button.secondary, .button.secondary {
  background-color: #e7e7e7;
  border-color: #b9b9b9;
  color: #333333;
}

button.secondary {
  &:hover, &:focus {
    background-color: #b9b9b9;
  }
}

.button.secondary {
  &:hover, &:focus {
    background-color: #b9b9b9;
  }
}

button.secondary {
  &:hover, &:focus {
    color: #333333;
  }
}

.button.secondary {
  &:hover, &:focus {
    color: #333333;
  }
}

button.success, .button.success {
  background-color: #43AC6A;
  border-color: #368a55;
  color: #FFFFFF;
}

button.success {
  &:hover, &:focus {
    background-color: #368a55;
  }
}

.button.success {
  &:hover, &:focus {
    background-color: #368a55;
  }
}

button.success {
  &:hover, &:focus {
    color: #FFFFFF;
  }
}

.button.success {
  &:hover, &:focus {
    color: #FFFFFF;
  }
}

button.alert, .button.alert {
  background-color: #f04124;
  border-color: #cf2a0e;
  color: #FFFFFF;
}

button.alert {
  &:hover, &:focus {
    background-color: #cf2a0e;
  }
}

.button.alert {
  &:hover, &:focus {
    background-color: #cf2a0e;
  }
}

button.alert {
  &:hover, &:focus {
    color: #FFFFFF;
  }
}

.button.alert {
  &:hover, &:focus {
    color: #FFFFFF;
  }
}

button.warning, .button.warning {
  background-color: #f08a24;
  border-color: #cf6e0e;
  color: #FFFFFF;
}

button.warning {
  &:hover, &:focus {
    background-color: #cf6e0e;
  }
}

.button.warning {
  &:hover, &:focus {
    background-color: #cf6e0e;
  }
}

button.warning {
  &:hover, &:focus {
    color: #FFFFFF;
  }
}

.button.warning {
  &:hover, &:focus {
    color: #FFFFFF;
  }
}

button.info, .button.info {
  background-color: #a0d3e8;
  border-color: #61b6d9;
  color: #333333;
}

button.info {
  &:hover, &:focus {
    background-color: #61b6d9;
  }
}

.button.info {
  &:hover, &:focus {
    background-color: #61b6d9;
  }
}

button.info {
  &:hover, &:focus {
    color: #FFFFFF;
  }
}

.button.info {
  &:hover, &:focus {
    color: #FFFFFF;
  }
}

button.large, .button.large {
  padding: 1.125rem 2.25rem 1.1875rem 2.25rem;
  font-size: 1.25rem;
}

button.small, .button.small {
  padding: 0.875rem 1.75rem 0.9375rem 1.75rem;
  font-size: 0.8125rem;
}

button.tiny, .button.tiny {
  padding: 0.625rem 1.25rem 0.6875rem 1.25rem;
  font-size: 0.6875rem;
}

button.expand, .button.expand {
  padding: 1rem 2rem 1.0625rem 2rem;
  font-size: 1rem;
  padding-bottom: 1.0625rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

button.left-align, .button.left-align {
  text-align: left;
  text-indent: 0.75rem;
}

button.right-align, .button.right-align {
  text-align: right;
  padding-right: 0.75rem;
}

button.radius, .button.radius {
  border-radius: 3px;
}

button.round, .button.round {
  border-radius: 1000px;
}

button {
  &.disabled, &[disabled] {
    background-color: #008CBA;
    border-color: #007095;
    color: #FFFFFF;
    box-shadow: none;
    cursor: default;
    opacity: 0.7;
  }
}

.button {
  &.disabled, &[disabled] {
    background-color: #008CBA;
    border-color: #007095;
    color: #FFFFFF;
    box-shadow: none;
    cursor: default;
    opacity: 0.7;
  }
}

button {
  &.disabled {
    &:hover, &:focus {
      background-color: #007095;
    }
  }
  &[disabled] {
    &:hover, &:focus {
      background-color: #007095;
    }
  }
}

.button {
  &.disabled {
    &:hover, &:focus {
      background-color: #007095;
    }
  }
  &[disabled] {
    &:hover, &:focus {
      background-color: #007095;
    }
  }
}

button {
  &.disabled {
    &:hover, &:focus {
      color: #FFFFFF;
    }
  }
  &[disabled] {
    &:hover, &:focus {
      color: #FFFFFF;
    }
  }
}

.button {
  &.disabled {
    &:hover, &:focus {
      color: #FFFFFF;
    }
  }
  &[disabled] {
    &:hover, &:focus {
      color: #FFFFFF;
    }
  }
}

button {
  &.disabled {
    &:hover, &:focus {
      background-color: #008CBA;
    }
  }
  &[disabled] {
    &:hover, &:focus {
      background-color: #008CBA;
    }
  }
}

.button {
  &.disabled {
    &:hover, &:focus {
      background-color: #008CBA;
    }
  }
  &[disabled] {
    &:hover, &:focus {
      background-color: #008CBA;
    }
  }
}

button {
  &.disabled.secondary, &[disabled].secondary {
    background-color: #e7e7e7;
    border-color: #b9b9b9;
    color: #333333;
    box-shadow: none;
    cursor: default;
    opacity: 0.7;
  }
}

.button {
  &.disabled.secondary, &[disabled].secondary {
    background-color: #e7e7e7;
    border-color: #b9b9b9;
    color: #333333;
    box-shadow: none;
    cursor: default;
    opacity: 0.7;
  }
}

button {
  &.disabled.secondary {
    &:hover, &:focus {
      background-color: #b9b9b9;
    }
  }
  &[disabled].secondary {
    &:hover, &:focus {
      background-color: #b9b9b9;
    }
  }
}

.button {
  &.disabled.secondary {
    &:hover, &:focus {
      background-color: #b9b9b9;
    }
  }
  &[disabled].secondary {
    &:hover, &:focus {
      background-color: #b9b9b9;
    }
  }
}

button {
  &.disabled.secondary {
    &:hover, &:focus {
      color: #333333;
    }
  }
  &[disabled].secondary {
    &:hover, &:focus {
      color: #333333;
    }
  }
}

.button {
  &.disabled.secondary {
    &:hover, &:focus {
      color: #333333;
    }
  }
  &[disabled].secondary {
    &:hover, &:focus {
      color: #333333;
    }
  }
}

button {
  &.disabled.secondary {
    &:hover, &:focus {
      background-color: #e7e7e7;
    }
  }
  &[disabled].secondary {
    &:hover, &:focus {
      background-color: #e7e7e7;
    }
  }
}

.button {
  &.disabled.secondary {
    &:hover, &:focus {
      background-color: #e7e7e7;
    }
  }
  &[disabled].secondary {
    &:hover, &:focus {
      background-color: #e7e7e7;
    }
  }
}

button {
  &.disabled.success, &[disabled].success {
    background-color: #43AC6A;
    border-color: #368a55;
    color: #FFFFFF;
    box-shadow: none;
    cursor: default;
    opacity: 0.7;
  }
}

.button {
  &.disabled.success, &[disabled].success {
    background-color: #43AC6A;
    border-color: #368a55;
    color: #FFFFFF;
    box-shadow: none;
    cursor: default;
    opacity: 0.7;
  }
}

button {
  &.disabled.success {
    &:hover, &:focus {
      background-color: #368a55;
    }
  }
  &[disabled].success {
    &:hover, &:focus {
      background-color: #368a55;
    }
  }
}

.button {
  &.disabled.success {
    &:hover, &:focus {
      background-color: #368a55;
    }
  }
  &[disabled].success {
    &:hover, &:focus {
      background-color: #368a55;
    }
  }
}

button {
  &.disabled.success {
    &:hover, &:focus {
      color: #FFFFFF;
    }
  }
  &[disabled].success {
    &:hover, &:focus {
      color: #FFFFFF;
    }
  }
}

.button {
  &.disabled.success {
    &:hover, &:focus {
      color: #FFFFFF;
    }
  }
  &[disabled].success {
    &:hover, &:focus {
      color: #FFFFFF;
    }
  }
}

button {
  &.disabled.success {
    &:hover, &:focus {
      background-color: #43AC6A;
    }
  }
  &[disabled].success {
    &:hover, &:focus {
      background-color: #43AC6A;
    }
  }
}

.button {
  &.disabled.success {
    &:hover, &:focus {
      background-color: #43AC6A;
    }
  }
  &[disabled].success {
    &:hover, &:focus {
      background-color: #43AC6A;
    }
  }
}

button {
  &.disabled.alert, &[disabled].alert {
    background-color: #f04124;
    border-color: #cf2a0e;
    color: #FFFFFF;
    box-shadow: none;
    cursor: default;
    opacity: 0.7;
  }
}

.button {
  &.disabled.alert, &[disabled].alert {
    background-color: #f04124;
    border-color: #cf2a0e;
    color: #FFFFFF;
    box-shadow: none;
    cursor: default;
    opacity: 0.7;
  }
}

button {
  &.disabled.alert {
    &:hover, &:focus {
      background-color: #cf2a0e;
    }
  }
  &[disabled].alert {
    &:hover, &:focus {
      background-color: #cf2a0e;
    }
  }
}

.button {
  &.disabled.alert {
    &:hover, &:focus {
      background-color: #cf2a0e;
    }
  }
  &[disabled].alert {
    &:hover, &:focus {
      background-color: #cf2a0e;
    }
  }
}

button {
  &.disabled.alert {
    &:hover, &:focus {
      color: #FFFFFF;
    }
  }
  &[disabled].alert {
    &:hover, &:focus {
      color: #FFFFFF;
    }
  }
}

.button {
  &.disabled.alert {
    &:hover, &:focus {
      color: #FFFFFF;
    }
  }
  &[disabled].alert {
    &:hover, &:focus {
      color: #FFFFFF;
    }
  }
}

button {
  &.disabled.alert {
    &:hover, &:focus {
      background-color: #f04124;
    }
  }
  &[disabled].alert {
    &:hover, &:focus {
      background-color: #f04124;
    }
  }
}

.button {
  &.disabled.alert {
    &:hover, &:focus {
      background-color: #f04124;
    }
  }
  &[disabled].alert {
    &:hover, &:focus {
      background-color: #f04124;
    }
  }
}

button {
  &.disabled.warning, &[disabled].warning {
    background-color: #f08a24;
    border-color: #cf6e0e;
    color: #FFFFFF;
    box-shadow: none;
    cursor: default;
    opacity: 0.7;
  }
}

.button {
  &.disabled.warning, &[disabled].warning {
    background-color: #f08a24;
    border-color: #cf6e0e;
    color: #FFFFFF;
    box-shadow: none;
    cursor: default;
    opacity: 0.7;
  }
}

button {
  &.disabled.warning {
    &:hover, &:focus {
      background-color: #cf6e0e;
    }
  }
  &[disabled].warning {
    &:hover, &:focus {
      background-color: #cf6e0e;
    }
  }
}

.button {
  &.disabled.warning {
    &:hover, &:focus {
      background-color: #cf6e0e;
    }
  }
  &[disabled].warning {
    &:hover, &:focus {
      background-color: #cf6e0e;
    }
  }
}

button {
  &.disabled.warning {
    &:hover, &:focus {
      color: #FFFFFF;
    }
  }
  &[disabled].warning {
    &:hover, &:focus {
      color: #FFFFFF;
    }
  }
}

.button {
  &.disabled.warning {
    &:hover, &:focus {
      color: #FFFFFF;
    }
  }
  &[disabled].warning {
    &:hover, &:focus {
      color: #FFFFFF;
    }
  }
}

button {
  &.disabled.warning {
    &:hover, &:focus {
      background-color: #f08a24;
    }
  }
  &[disabled].warning {
    &:hover, &:focus {
      background-color: #f08a24;
    }
  }
}

.button {
  &.disabled.warning {
    &:hover, &:focus {
      background-color: #f08a24;
    }
  }
  &[disabled].warning {
    &:hover, &:focus {
      background-color: #f08a24;
    }
  }
}

button {
  &.disabled.info, &[disabled].info {
    background-color: #a0d3e8;
    border-color: #61b6d9;
    color: #333333;
    box-shadow: none;
    cursor: default;
    opacity: 0.7;
  }
}

.button {
  &.disabled.info, &[disabled].info {
    background-color: #a0d3e8;
    border-color: #61b6d9;
    color: #333333;
    box-shadow: none;
    cursor: default;
    opacity: 0.7;
  }
}

button {
  &.disabled.info {
    &:hover, &:focus {
      background-color: #61b6d9;
    }
  }
  &[disabled].info {
    &:hover, &:focus {
      background-color: #61b6d9;
    }
  }
}

.button {
  &.disabled.info {
    &:hover, &:focus {
      background-color: #61b6d9;
    }
  }
  &[disabled].info {
    &:hover, &:focus {
      background-color: #61b6d9;
    }
  }
}

button {
  &.disabled.info {
    &:hover, &:focus {
      color: #FFFFFF;
    }
  }
  &[disabled].info {
    &:hover, &:focus {
      color: #FFFFFF;
    }
  }
}

.button {
  &.disabled.info {
    &:hover, &:focus {
      color: #FFFFFF;
    }
  }
  &[disabled].info {
    &:hover, &:focus {
      color: #FFFFFF;
    }
  }
}

button {
  &.disabled.info {
    &:hover, &:focus {
      background-color: #a0d3e8;
    }
  }
  &[disabled].info {
    &:hover, &:focus {
      background-color: #a0d3e8;
    }
  }
}

.button {
  &.disabled.info {
    &:hover, &:focus {
      background-color: #a0d3e8;
    }
  }
  &[disabled].info {
    &:hover, &:focus {
      background-color: #a0d3e8;
    }
  }
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media only screen and (min-width: 40.0625em) {
  button, .button {
    display: inline-block;
  }
}
